body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
  min-width: 170vh;
}
.header {
  background-color: #222f3f;
}
header img {
  width: 7.3%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header a {
  color: #eaeded;
  text-decoration: none;
  font-size: 120%;
  padding-left: 1.6%;
}
.bg-dark {
  border-color: #222f3e;
  background-color: #364759;
  padding: 1rem 0;
  padding-left: 0.6%;
}
.bg-yellow {
  background-color: #f56600;
  border-color: #341600;
  padding: 1rem 0;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 96.3%;
  text-align: center;
}
.bg-yellow a {
  text-decoration: none;
  font-size: 150%;
  color: #eaeded;
}
.bg {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 96.3%;
  background-image: url("../images/bg-image.png");
  background-size: 93%;
  height: 27.5vh;
}
.bg p {
  text-align: center;
  color: #eaeded;
}
.bg .p1 {
  font-size: 290%;
  font-weight: 600;
  padding-top: 5%;
}
.bg .p2 {
  font-weight: 600;
  font-size: 167%;
  padding-top: 2%;
}
.primo {
  background-color: white;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 96.3%;
  font-size: 180%;
  padding-top: 1%;
}
.primo a {
  text-decoration: none;
  padding-left: 1%;
  color: rgb(12, 147, 231);
  font-size: 80%;
}
.primo p {
  padding-left: 1%;
}
.primo img {
  display: inline-block;
  width: 22.6%;
  height: 45vh;
  border-radius: 35px;
  margin: 1%;
  box-shadow: 8px 8px 35px -3px rgba(0, 0, 0, 0.25);
}
.accessori img {
  width: 96.8%;
  height: 50vh;
  margin-left: 1.75%;
  margin-right: 1.75%;
  margin-top: 2%;
}
.accessori p {
  text-align: center;
  font-size: 180%;
}
.accessori a {
  text-decoration: none;
  padding-left: 1%;
  color: rgb(12, 147, 231);
  font-size: 80%;
}
footer {
  margin-top: 1.5%;
  text-align: center;
}
footer a {
  color: #eaeded;
  font-size: 120%;
}
.footer {
  background-color: #222f3f;
  padding: 3%;
}
footer img {
  width: 11%;
}
